@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
/* 
END RESET */

body {
	background: #151e34ff;
	color: gainsboro;
	font-family: 'Lato', sans-serif;
}
nav {
	background: #080c24;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
nav h2 span {
	color: #2da548;
	font-weight: bold;
}
/* Navbar Sticky */
.scrolled {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
ul {
	list-style: inside;
}

input {
	display: inline;
	width: 60px;
	font-size: 16px;
}
label {
	display: inline-block;
	padding-right: 0.4rem;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.balance {
	margin-top: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 95%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

/* Banknot Styles */
.card {
	height: 300px;
	width: 245px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-animation: bounce 4s;
}
.bounce {
	-webkit-animation: bounce 4s;
}
.card input {
	width: 60px;
	font-size: 20px;
	text-align: center;
	border-radius: 0;
	border: none;
	height: 30px;
}
.card img {
	transform: rotate(0.75turn);
	height: 250px;
	object-fit: contain;
}

.note-info {
	display: flex;
}
.increase,
.decrease {
	border: none;
	font-size: 1.1rem;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.increase {
	background: #28a745;
	border-color: #28a745;
	border-radius: 8px 0 0 8px;
	color: #fff;
}
.decrease {
	background: #dc3545;
	border-radius: 0 8px 8px 0;
	color: #fff;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.tl1 img {
	transform: scale(0.75);
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
	0%,
	20% {
		-webkit-transform: translateY(-50px);
	}
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
	}
}
@-moz-keyframes bounce {
	0%,
	20% {
		-moz-transform: translateY(-50px);
	}
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-500px);
		-moz-transform: translateY(-500px);
		-ms-transform: translateY(-500px);
		-o-transform: translateY(-500px);
		transform: translateY(-500px);
	}
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-o-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

/* Given Amount */
.given-container {
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 30px 0 0 0;
	background: #2a2d3e;
	width: 350px;
	border-radius: 10px;
	height: 350px;
}
.given-container hr {
	width: 100%;
	margin: 5px 0;
	border: none;
	border-bottom: 1px solid #353748;
}
.item {
	font-size: 20px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}
.item:nth-child(even) {
	background: #212332;
}
.input-container {
	display: flex;
}
.input-container input {
	height: 30px;
	border: none;
	width: 40px;
	border-radius: 0;
	text-align: center;
}
.increase-given,
.decrease-given {
	border: none;
	font-size: 1.1rem;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.increase-given {
	background: #28a745;
	border-color: #28a745;
	border-radius: 8px 0 0 8px;
	color: #fff;
}
.decrease-given {
	background: #dc3545;
	border-radius: 0 8px 8px 0;
	color: #fff;
}
/* Calculate */
.calculate-container {
	margin: 10px 0;
	font-size: 1.1rem;
}
.calculate-container input {
	height: 30px;
	text-align: center;
	margin-right: 5px;
}

.calculate-container button {
	background: #28a745;
	border-radius: 8px;
	border: none;
	font-size: 1rem;
	height: 30px;
	margin: 10px 0;
	color: #fff;
	cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* body {
		background: coral;
	} */
	.balance {
		justify-content: center;
	}
	.card {
		height: 200px;
		width: 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		-webkit-animation: bounce 4s;
	}
	.card input {
		height: 25px;
	}
	.note-info {
		flex-direction: column;
	}
	.increase,
	.decrease {
		width: 100%;
		border-radius: 0;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* body {
		background: cornflowerblue;
	} */
	.balance {
		justify-content: center;
	}
	.card {
		height: 200px;
		width: 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		-webkit-animation: bounce 4s;
	}
	.card input {
		height: 25px;
	}
	.note-info {
		flex-direction: column;
	}
	.increase,
	.decrease {
		width: 100%;
		border-radius: 0;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* body {
		background: red;
	} */
	.balance {
		justify-content: center;
	}
	.card {
		height: 200px;
		width: 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.card input {
		height: 30px;
	}

	.card {
		height: 250px;
		width: 101px;
	}
	.card img {
		width: 98px;
	}

	.note-info {
		flex-direction: column;
	}
	.increase,
	.decrease {
		width: 100%;
		border-radius: 0;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* body {
		background: #1d2225;
	} */
	.card {
		height: 200px;
		width: 123px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.note-info {
		flex-direction: row;
	}
	.increase,
	.decrease {
		width: 30px;
	}
	.increase {
		border-radius: 8px 0 0 8px;
	}
	.decrease {
		border-radius: 0 8px 8px 0;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1080px) {
	/* body {
		background: rgb(231, 59, 59);
	} */
	.card {
		width: 130px;
	}
	.main {
		width: 90%;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* body {
		background: darkred;
	} */
	.card {
		width: 158px;
	}
}
/* 1600px and up) */
@media only screen and (min-width: 1600px) {
	/* body {
		background: darkred;
	} */
	.card {
		width: 210px;
	}
}
